{% extends 'movies/base.html' %}

{% block content %}
    <div class="container">
        <section class="about-section">
            <h1>О нашем сайте</h1>
            <p class="description">
                Добро пожаловать на наш сайт для просмотра фильмов. Мы работаем над данным сайтом, для просмотра фильмов. Здесь вы можете уже увидеть парочку фильмов доступных к просмотру. Наша цель — создать удобную платформу для киноманов, где можно открывать для себя новые фильмы, делиться впечатлениями и находить единомышленников.
            </p>

        <div class="features">
                <div class="feature">
                    <h2>Наша коллекция</h2>
                    <p>Мы постоянно расширяем нашу библиотеку фильмов, добавляя как новинки, так и классику кинематографа. В будущем мы планируем добавить все возможно существующие фильмы на данный момент.</p>
            </div>    
     </div>
{% endblock content %}